@font-face {
  font-family:printclear;
  src: url('../fonts/printclear.ttf');
}

@font-face{
  font-family:greatVibes;
  src: url('../fonts/eth.ttf');
}

body{
  font: 15px/1.5 printclear, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header ul{
  margin:0;
  padding:0;
}

.button_1{
  height:30px;
  background:#808080;
  border:0;
  paddking-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}

/* Header */
header{
  /*background:#696969;*/
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#000000 3px solid;
}


header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}


header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#000000;
  font-weight:bold;
}

header .title{
  font: 40px/1.5 greatVibes, Helvetica, sans-serif;
  color:#0099cc;
  font-weight: bold;

}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}


/* Showcase */
#showcase{
  min-height:430;
  background:url('../img/Eth.png') no-repeat 0 -300px;
  color:#ffffff;
  border-bottom:#000000 3px solid;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* newsletter */

#newsletter{
  padding:90px;
  color:#ffffff;
  background:#696969;
  border-bottom:#000000 3px solid;
}

#newsletter h1{
  float:left;
  margin-top:-20px;
}

#newsletter form{
  float:right;
  margin-top:-40px;
}

#newsletter input[type="Name"]{
  padding:4px;
  height:25px;
  width:250px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */

#boxes{
  margin-top:20px;
  padding-top:30px;
  min-height:70px;
  border-bottom:#000000 3px solid;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#000000;
  text-align:center;
}
